<nav class="bg-white border-b border-gray-100">
  <div
    class="py-4 pl-6 pr-12 flex flex-row items-center justify-between max-w-7xl mx-auto"
  >
    <!-- LOGO -->
    <div class="flex items-center"><a routerLink="/">
      <img src="/logo.svg" alt="logo" class="w-10">
    </a></div>

    <ul class="flex flex-row items-center gap-6">
      <li><a
        routerLink="/"
        [ngClass]="
            isRouterActive('/') ? 'text-blue-base' : 'text-gray-200'
          "
        class="flex flex-row gap-1.5 transition-colors hover:text-gray-300"
      >
        <i class="ph ph-medal text-xl"></i>
        <span class="text-sm font-semibold">Lista de certificados</span>
      </a></li>

      <li><a
        routerLink="/certificados/novo"
        [ngClass]="
            isRouterActive('/certificados/novo') ? 'text-blue-base' : 'text-gray-200'
          "
        class="flex flex-row gap-1.5 transition-colors hover:text-gray-300"
      >
        <i class="ph ph-circles-three-plus text-xl"></i>
        <span class="text-sm font-semibold">Gerar certificado</span>
      </a></li>
    </ul>
  </div>
</nav>
