@import "tailwindcss";

@theme {
  --color-blue-base: #3B5AC2;
  --color-blue-dark: #1A2856;

  --background-image-gradient-blue-gradient: linear-gradient(90deg,#1A2856 0%, #334EA9 100%);

  --color-gray-100: #E2E8F0;
  --color-gray-200: #64748B;
  --color-gray-300: #121621;

  --color-danger-base: #E95F5F;
  --color-danger-dark: #D71D1D;
}
